<footer class="footer">
  <div class="row">
    <div class="col-md-6 col-sm-12 text-center text-md-left">
      <p>Pampered by <a href="https://hencework.com/" class="text-dark mx-2" target="_blank">Hencework</a> © 2019</p>
    </div>
    <div class="col-md-6 col-sm-12 text-center text-md-right">
      <p>Follow us</p>
      <a href="javascript:" class="text-dark ml-2"><i class="fab fa-facebook-f"></i></a>
      <a href="javascript:" class="text-dark ml-2"><i class="fab fa-twitter"></i></a>
      <a href="javascript:" class="text-dark ml-2"><i class="fab fa-google-plus-g"></i></a>
    </div>
  </div>
</footer>
