<!-- <div id="main" class="row"> -->

  <!-- <app-toolbar id='toolbarComp'></app-toolbar> -->
  
  <!-- <div id='paletteContainer' class='show left'>
    <gojs-palette #myPalette [initPalette]='initPalette' [divClassName]='paletteDivClassName' [nodeDataArray]='paletteNodeData' [linkDataArray]='paletteLinkData' [modelData]='paletteModelData' (modelChange)='paletteModelChange($event)'></gojs-palette>
    <form><button style='width: 100%' type='submit' id='addElemBtn'>Add a New Element</button></form>
  </div>

  <div id='canvasContainer' class='large left'>
    <gojs-diagram #myDiagram [initDiagram]='initDiagram' [nodeDataArray]='diagramNodeData' [linkDataArray]='diagramLinkData'
    [divClassName]='diagramDivClassName' [modelData]='diagramModelData' [skipsDiagramUpdate]='skipsDiagramUpdate'
    (modelChange)='diagramModelChange($event)'>
    </gojs-diagram>
    <gojs-overview #myOverview [initOverview]='initOverview' [divClassName]='oDivClassName' [observedDiagram]='observedDiagram'></gojs-overview>
  </div> -->

  <!-- <div id='elemEditorContainer'>
    <app-element-editor [selectedNode]='selectedNode' (onFormChange)='handleInspectorChange($event)'></app-element-editor>
  </div> -->

<!-- </div> -->
<router-outlet>
  <app-spinner></app-spinner>
</router-outlet>
